.header-border{
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 28px;
}
.all-post-border{
    padding-bottom: 20px;   
}
.post-header-margin {
    margin-top: 47px;
    margin-left: 200px;
    margin-right: 200px;
}