.header-border{
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 28px;
}
.all-post-border{
    padding-bottom: 20px;   
}
.post-header-margin {
    margin-top: 47px;
    margin-left: 200px;
    margin-right: 200px;
}






@media only screen and (max-width: 576px) {
    .post-header-margin {
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media only screen and (max-width: 992px) {
    .post-header-margin {
        margin-left: 0px;
        margin-right: 0px;
    }
}
@media only screen and (max-width: 1310px) {
    .post-header-margin {
        margin-left: 10px;
        margin-right: 10px;
    }
}