@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
.post-margin{
    /* margin-top: 47px; */
    margin-left: 200px;
    /* margin-right: 200px; */
}
.route-text{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
}
.all-font{
    font-family: 'IBM Plex Sans';
}
.card-title{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}
.card-bold-text{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30p;
    color: #000000;
}
.card-normal-text{
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 25px;
    color: #5C5C5C;
}
.avatar-text{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 0;
    margin-left: 10px;
}
.share{
    background: #EDEEF0;
    border-radius: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 40px;
}
.date-text{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    margin-left: 7px;
    /* margin-right: 70px; */
}
.dropdown::after{
    display: none;
}
.location-text{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    opacity: 0.5;
}

.recommended{
    font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #000000;
}
.group-name{
    font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #000000;
        margin-bottom: 0;
        margin-left: 12px;
}
.follow{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    border-radius: 14px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.password{
    font-family:'IBM Plex Sans', FontAwesome;
}
.location-margin{
    margin-right: 200px;
}
.card-size{
    width: 692px;
}
.close-button{
    margin-top: -40px;
    margin-bottom: 10px;
}
























@media only screen and (max-width: 576px) {
    .post-margin {
        margin-left: 0px;
        margin-right: 0px;
    }
    .card-size {
        width: 100%;
    }
        .close-button {
            margin-top: 10px;
            margin-right: 20px;
        }
}
@media only screen and (max-width: 992px) {
    .post-margin {
        margin-left: 0px;
        margin-right: 0px;
    }
    .card-size {
        width: 100%;
    }
        .location-margin {
            margin-right: 30px;
        }
}
@media only screen and (min-width: 993px) and (max-width: 1325px) {
    .post-margin {
        margin-left: 10px;
        margin-right: 10px;
    }
    /* .card-size {
        width: 100%;
    } */
    .location-margin {
        margin-right: 10px;
    }
}





